
{% extends 'pages/base.html' %}
{%load static %}

{% block content %}

<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'assets/images/favicon.png' %}" rel="icon" type="image/png">
    <title>Sign Into Nals Ecommerce</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">

</head> -->

<body class="bg-gray-100">
    {%  include  'pages/navbar.html' %}

    <div id="wrapper" class="flex flex-col justify-between h-screen">

         


        <div class="flex justify-center">
            <div class="lg:p-12 max-w-md max-w-xl lg:my-0 my-12 mx-auto p-6 space-y-">
                <h1 class="lg:text-3xl text-xl font-semibold mb-6">Log in</h1>
        
                <div>
                    <style>
                        h5 {
                            color: red
                        }
                    </style>
                    {% for message in messages %}
                    <h5>{{message}}</h5>
                    {% endfor %}
                </div>
        
                <form action="" method="POST" class="space-y-4">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Username"
                        class="bg-gray-200 p-3 rounded-md shadow-none dark:bg-gray-800 border border-gray-300 focus:outline-none focus:ring focus:border-blue-300">
                    <input type="password" name="password" placeholder="Password"
                        class="bg-gray-200 p-3 rounded-md shadow-none dark:bg-gray-800 border border-gray-300 focus:outline-none focus:ring focus:border-blue-300">
        
                    <button type="submit"
                        class="bg-gradient-to-br from-pink-500 py-3 rounded-md text-white text-xl to-red-400 w-full">Login</button>
                    <div class="text-center mt-5 space-x-2">
                        <p class="text-base">Not registered? <a href="/signup" class="">Create an account</a></p>
                    </div>
                </form>
            </div>
        </div>
        
        

    </div>
   
    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script> 


</body>
{%endblock content%}

